services:
  osrm:
    image: osrm/osrm-backend:latest
    platform: linux/amd64
    container_name: osrm
    ports:
      - "5000:5000"
    volumes:
      - ./osrm-data:/data
    command: >
      osrm-routed --algorithm mld /data/argentina-251109.osrm